*.lock
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.pid
*.seed
*.swp
*.xccheckout
*~.nib
.DS_Store
.grunt
.lock-wscript
.Trashes
build/
build/Release
coverage
DerivedData/
lib-cov
logs
node_modules
*/node_modules
pids
resources
tmp
xcuserdata/